a {
  text-decoration: none;
  color: #4267B6;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
  color: #454545;
  font-size: 14px;
  min-width: 700px;
  height: 100%;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  padding-left: 10px;
}

#menu {
  background: #efefef;
  box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.20);
  width: 150px;
  min-width: 150px;
  display: table-cell;
  vertical-align: top;
  padding: 20px 10px 20px 20px;
  z-index: 12;
  position: relative;
}    
    
#container {
  display: table-cell;
  height: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 60px;
  position: relative;
}
