export("CompiledScript")
S3method("names", "CompiledScript")
S3method("print", "CompiledScript")
S3method("toString", "CompiledScript")

export("ScriptEngine")
S3method("names", "ScriptEngine")
S3method("print", "ScriptEngine")
S3method("toString", "ScriptEngine")
export("%~%")
S3method("%~%", "ScriptEngine")
export("%@%")
S3method("%@%", "ScriptEngine")
S3method("$", "ScriptEngine")
S3method("$<-", "ScriptEngine")
S3method("[", "ScriptEngine")
S3method("[<-", "ScriptEngine")
S3method("[[", "ScriptEngine")
S3method("[[<-", "ScriptEngine")

export("getKotlinScriptEngineJars")

# Attempt to avoid the following NOTE in CRAN checks:
# Namespaces in Imports field not imported from: ‘R6’ ‘curl’ ‘utils’
importFrom(curl, curl_download)
importFrom(utils, loadhistory, savehistory)
importFrom(R6, R6Class)
